@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&family=Dhurjati&family=DotGothic16&family=Geo&family=Joti+One&family=Orbitron&display=swap');

.gif {
    margin: 20px;
}

.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landingBtn {
    transition: .5s;
    background-color: rgb(173, 255, 255);
    border: none;
}

.landingBtn:hover {
    background-color: aqua

}

.titleLanding {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 10%;
    font-family: 'Joti One', cursive;
}