@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&family=Dhurjati&family=DotGothic16&family=Geo&family=Joti+One&family=Orbitron&display=swap');


.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: .8s;
}

.alert {
    background-color:  rgba(128, 128, 128, 0.554);
    color: red;
}

.loading {
    margin: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.data {
    font-family: 'Geo', sans-serif;
    font-size: 30px;
}